* {
    margin: 0;
    padding: 0;
}

html,body{
    overflow: hidden;
}
.webgl {
    position: fixed;
    top: 0;
    left:0;
    outline: none;
}
#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#instructions {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 14px;
    cursor: pointer;
}